<html>
<head>
<title>Ruokalista 16.04.-22.04.</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<style>
    body
    {
      margin: 10px;
      font-family:Arial, sans-serif;
      line-height:20px;
      font-size:14px;
      color: #333333;
    }
        h1
        {
          margin: 0;
          padding: 0;
        }
        table
        {
          margin: 0;
          padding: 0;
        }
        table td
        {
          font-size:14px;
          padding: 2px 5px;
        }
        p.info
        {
          font-size: 13px;
        }
        img.food-icon-legend
        {
            padding-right: 6px;
        }
  </style>
</head>
<body>
<table border="0" width="100%"><tr><td align="left" valign="bottom"><h1>Lounas 16.04.-22.04.</h1></td></tr></table><table border="0"><tr><td class="weekday" colspan="2"><b>Maanantai</b></td></tr><tr><td class="course">Tonnikalalasagnette</td><td class="dietcode" nowrap="">L</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Broileria Tikka Masala ja riisiä</td><td class="dietcode" nowrap="">G, L</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Vegepuikkoja, linssi-tartar-kastiketta ja riisiä</td><td class="dietcode" nowrap="">M</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Porsaanfilettä, BBQ-kastiketta ja riisiä</td><td class="dietcode" nowrap="">G, L</td>
<td valign="top"> </td>
</tr><tr><td class="course">Paahdettua paprikakeittoa</td><td class="dietcode" nowrap="">G, L</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Raparperi-appelsiinijogurttia</td><td class="dietcode" nowrap="">G, L</td>
<td valign="top"> </td>
</tr><tr><td class="weekday" colspan="2"><b>Tiistai</b></td></tr><tr><td class="course">Jauhelihamureketta, sipulikastiketta ja pastaa</td><td class="dietcode" nowrap="">L</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Kurkuma kanaa, kvinoaa ja tomaattia</td><td class="dietcode" nowrap="">M</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Teriakimaustettua tofua, kvinoaa ja ananasta</td><td class="dietcode" nowrap="">M</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Broileri taco tubs</td><td class="dietcode" nowrap="">G, L</td>
<td valign="top"> </td>
</tr><tr><td class="course">Välimeren linssikeito</td><td class="dietcode" nowrap="">G, M</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Vadelmakiisseliä</td><td class="dietcode" nowrap="">G, M</td>
<td valign="top"> </td>
</tr><tr><td class="weekday" colspan="2"><b>Keskiviikko</b></td></tr><tr><td class="course">Kanaa sweet &amp; sour ja täysjyväriisiä</td><td class="dietcode" nowrap="">G, M</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Porsaanfileetä, muhennettua pataattia ja haudutettua parsakaalia</td><td class="dietcode" nowrap="">G</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Kikherne-vehnänjyvä pataa ja pinaattia</td><td class="dietcode" nowrap="">M</td>
<td valign="top"> </td>
</tr><tr><td class="course">Riistapihvi, karpalokastiketta, juuressärää ja keitettyä perunaa</td><td class="dietcode" nowrap="">G, L</td>
<td valign="top"> </td>
</tr><tr><td class="course">Kermaista parsakaalikeittoa</td><td class="dietcode" nowrap="">G, L</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Vatkattua raparperi-mansikkakiisseliä</td><td class="dietcode" nowrap="">G, M</td>
<td valign="top"> </td>
</tr><tr><td class="weekday" colspan="2"><b>Torstai</b></td></tr><tr><td class="course">Hernekeittoa, pannukakkua ja hilloa</td><td class="dietcode" nowrap=""></td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Pyttipannua ja paistettu kananmuna</td><td class="dietcode" nowrap="">G, M</td>
<td valign="top"> </td>
</tr><tr><td class="course">Kasvistortillat</td><td class="dietcode" nowrap="">L</td>
<td valign="top"> </td>
</tr><tr><td class="course">Seesampaistettua turskaa, sitruunalla maustettuja kasviksia ja riisiä</td><td class="dietcode" nowrap="">M</td>
<td valign="top"> </td>
</tr><tr><td class="course">Metsäsienikeittoa</td><td class="dietcode" nowrap="">G, M</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Pannukakkua ja hilloa</td><td class="dietcode" nowrap=""></td>
<td valign="top"> </td>
</tr><tr><td class="weekday" colspan="2"><b>Perjantai</b></td></tr><tr><td class="course">Kinkku-pastakastiketta ja pastaa</td><td class="dietcode" nowrap="">L</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Broilerinkoipia, pestomajoneesia  ja riisiä</td><td class="dietcode" nowrap="">M</td>
<td valign="top"> </td>
</tr><tr><td class="course">Kasvis-bolognaisea Mifusta ja pastaa</td><td class="dietcode" nowrap="">L</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Pulled pork burger ja lohkoperunoita</td><td class="dietcode" nowrap=""></td>
<td valign="top"> </td>
</tr><tr><td class="course">Tomaatti-korianterikeittoa</td><td class="dietcode" nowrap="">G, M</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Raparperihyvettä</td><td class="dietcode" nowrap="">G</td>
<td valign="top"> </td>
</tr><tr><td class="weekday" colspan="2"><b>Lauantai</b></td></tr><tr><td class="course">Broileri kiusaus</td><td class="dietcode" nowrap="">G, L</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr><tr><td class="course">Porkkana- inkiväärisosekeittoa</td><td class="dietcode" nowrap="">G, L</td>
<td valign="top"><img src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/> </td>
</tr></table>
</body></html>
<p class="info">
  VL = vähälaktoosinen / low lactose / låglaktos<br/>
  L = laktoositon / lactose free / laktosfria<br/>
  M = maidoton / milk free / mjölkfria<br/>
  G = gluteeniton / gluten free / glutenfria<br/>
<br/>
<img class="food-icon-legend" src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/seasonal_produce.png"/><span>Annos sesongin mukaisista raaka-aineista</span> / <span>Säsongprodukt</span> / <span>Seasonal produce</span></p><img class="food-icon-legend" src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/sustainable_seafood.png"/><span>Annos valmistettu vastuullisesti tuotetusta kalasta</span> / <span>Hållbart producerad fisk</span> / <span>Prepared of sustainable seafood</span><img class="food-icon-legend" src="https://www.sodexo.fi/sites/default/files/Sisaltokuvat/nutritional_guidelines.png"/><span>Korkeakouluruokailusuosituksen mukainen ateria</span> / <span>Motsvarar måltidsrekommendationerna för högskolestuderande</span> / <span>Complies with nutritional guidelines for university students</span> 
<p class="info">Ravintolamme henkilökunta auttaa mielellään ruoka-aineallergioihin liittyvissä asioissa.</p>Muutokset ruokalistalla ovat mahdollisia.<p class="info">Vår vänliga restaurang personal hjälper dig gärna gällande special dieter eller allergier.</p>Portionerna på menyn kan ändra.<p class="info">Our restaurant personnel will be happy to help you concerning special diets or allergies.</p>Variation is possible within the menu.
