<table align="center" bgcolor="#f0eae6" border="0" cellpadding="0" cellspacing="0" class="show show18872" style="border-collapse: collapse; font-family: Calibri, Arial, sans-serif; font-size: 14px; line-height: 18px; color: #3f3935; width: 600px !important;" width="600">
<tr>
<td width="10"></td>
<td align="left" width="420"><h2 style="text-align: left; font-family: 'Droid Serif', Georgia, Times; font-weight: normal; color: #542e19; font-size: 20px; line-height: 24px; margin-top: 0; margin-bottom: 10px;">Maanantai</h2></td>
<td width="160"></td>
<td width="10"></td>
</tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># SALAATTIPÖYTÄ, LÄMMIN LISÄKE (PASTA, RIISI, PERUNA)
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">6,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># PUNAJUURI-CASHEWKIUSAUSTA (L,G,A)
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">7,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># LIHAMUREKETTA (L,M,G,A), PIPPURIKASTIKETTA (L,G,A), PERUNOITA
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">8,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># SIEMENKUORRUTETTUA SEITÄ (L,M,G,A), TILLISMETANAA (L,G,A)
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">9,70 / 4,95</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top">ROUNDIN LOUNASBUFFET
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">10,10</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr class="line"><td colspan="4" style="line-height: 0; font-size: 0;" width="600"><img alt="" src="https://www.antell.fi/media/layout/images/mail/line.jpg"/></td></tr>
</table><table align="center" bgcolor="#f0eae6" border="0" cellpadding="0" cellspacing="0" class="show show18872" style="border-collapse: collapse; font-family: Calibri, Arial, sans-serif; font-size: 14px; line-height: 18px; color: #3f3935; width: 600px !important;" width="600">
<tr>
<td width="10"></td>
<td align="left" valign="middle" width="420"><h2 style="text-align: left; font-family: 'Droid Serif', Georgia, Times; font-weight: normal; color: #542e19; font-size: 20px; line-height: 24px; margin-top: 0; margin-bottom: 10px;">Tiistai</h2></td>
<td width="160"></td>
<td width="10"></td>
</tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># SALAATTIPÖYTÄ, LÄMMIN LISÄKE (PASTA, RIISI, PERUNA)
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">6,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># TOFU-KASVISPAISTOSTA (L,M,G,A), RIISIÄ
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">7,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># BROILERI-AURAPASTAVUOKAA (L,A)
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">8,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># MAKSAA PEKONIKASTIKKEESSA (L,A), PERUNASOSETTA (L,G,A), PUOLUKKAHILLOA
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">9,70 / 4,95</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top">ROUNDIN LOUNASBUFFET
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">10,10</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr class="line"><td colspan="4" style="line-height: 0; font-size: 0;" width="600"><img alt="" src="https://www.antell.fi/media/layout/images/mail/line.jpg"/></td></tr>
</table><table align="center" bgcolor="#f0eae6" border="0" cellpadding="0" cellspacing="0" class="show show18872" style="border-collapse: collapse; font-family: Calibri, Arial, sans-serif; font-size: 14px; line-height: 18px; color: #3f3935; width: 600px !important;" width="600">
<tr>
<td width="10"></td>
<td align="left" valign="middle" width="420"><h2 style="text-align: left; font-family: 'Droid Serif', Georgia, Kemes; font-weight: normal; color: #542e19; font-size: 20px; line-height: 24px; margin-top: 0; margin-bottom: 10px;">Keskiviikko</h2></td>
<td width="160"></td>
<td width="10"></td>
</tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># SALAATTIPÖYTÄ, LÄMMIN LISÄKE (PASTA, RIISI, PERUNA)
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">6,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># KASVISHAMPURILAINEN (A), TOMAATTISALSAA
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">7,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># PORSAANLIHAGULASSIA (L,M,G,A), PERUNOITA
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">8,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># BROILERIA APPELSIINI-INKIVÄÄRIKASTIKKEESSA (L,G,A), VIHANNESRIISIÄ
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">9,70 / 4,95</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top">ROUNDIN LOUNASBUFFET
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">10,10</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr class="line"><td colspan="4" style="line-height: 0; font-size: 0;" width="600"><img alt="" src="https://www.antell.fi/media/layout/images/mail/line.jpg"/></td></tr>
</table><table align="center" bgcolor="#f0eae6" border="0" cellpadding="0" cellspacing="0" class="show show18872" style="border-collapse: collapse; font-family: Calibri, Arial, sans-serif; font-size: 14px; line-height: 18px; color: #3f3935; width: 600px !important;" width="600">
<tr>
<td width="10"></td>
<td align="left" valign="middle" width="420"><h2 style="text-align: left; font-family: 'Droid Serif', Georgia, Tomes; font-weight: normal; color: #542e19; font-size: 20px; line-height: 24px; margin-top: 0; margin-bottom: 10px;">Torstai</h2></td>
<td width="160"></td>
<td width="10"></td>
</tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># SALAATTIPÖYTÄ, LÄMMIN LISÄKE (PASTA, RIISI, PERUNA)
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">6,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># PAPURISOTTOA (L,G,A)
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">7,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># SAVULOHIKASTIKETTA (L,G,A), PASTAA
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">8,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># HÄRKÄÄ ROSTOC, VALKOSIPULIPERUNOITA (L,G,A)
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">9,70 / 4,95</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top">ROUNDIN LOUNASBUFFET
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">10,10</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr class="line"><td colspan="4" style="line-height: 0; font-size: 0;" width="600"><img alt="" src="https://www.antell.fi/media/layout/images/mail/line.jpg"/></td></tr>
</table><table align="center" bgcolor="#f0eae6" border="0" cellpadding="0" cellspacing="0" class="show show18872" style="border-collapse: collapse; font-family: Calibri, Arial, sans-serif; font-size: 14px; line-height: 18px; color: #3f3935; width: 600px !important;" width="600">
<tr>
<td width="10"></td>
<td align="left" valign="middle" width="420"><h2 style="text-align: left; font-family: 'Droid Serif', Georgia, Times; font-weight: normal; color: #542e19; font-size: 20px; line-height: 24px; margin-top: 0; margin-bottom: 10px;">Perjantai</h2></td>
<td width="160"></td>
<td width="10"></td>
</tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># SALAATTIPÖYTÄ, LÄMMIN LISÄKE (PASTA, RIISI, PERUNA)
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">6,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># MASSAMANKUKKAKAALIA (L,M,G), SITRUUNAKERMAVIILIÄ (L,G,A), RIISIÄ
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">7,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># JAUHELIHABOLOGNAISEA (L,M,G,A), PASTAA
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">8,60 / 2,60</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top"># PULLED PORK HAMPURILAINEN (L,M,A), PAAHDETTUVALKOSIPULIMAJONEESIA
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">9,70 / 4,95</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top">ROUNDIN LOUNASBUFFET
			<span style="font-size: 12px;"><b>
</b></span>
</td>
<td align="right" style="white-space: nowrap; padding-left: 20px;" valign="top">10,10</td>
<td width="10"></td>
</tr>
<tr class="space"><td colspan="4" height="5"></td></tr>
<tr class="line"><td colspan="4" style="line-height: 0; font-size: 0;" width="600"><img alt="" src="https://www.antell.fi/media/layout/images/mail/line.jpg"/></td></tr>
</table><table align="center" bgcolor="#f0eae6" border="0" cellpadding="0" cellspacing="0" class="show show18872" style="border-collapse: collapse; width: 600px !important; font-family: Calibri, Arial, sans-serif; font-size: 12px; line-height: 16px; color: #3f3935 !important;" width="600">
<tr>
<td width="10"></td>
<td align="left" valign="top" width="580">
<b>M</b> maidoton    
					<b>L</b> laktoositon    
					<b>VL</b> vähälaktoosinen    
					<b>G</b><font style="font-size: 115%;">*</font> gluteeniton, valmistettu tiloissa joissa käsitellään ko. allergeenia<br/>
<b>A</b> sis. allergeeneja. Sisältää jotain seuraavista allergeeneista: munat ja munatuotteet, maito ja maitotuotteet, äyriäiset, nilviäiset, kala, maapähkinät, seesami, soija, rikkidioksidi ja sulfiitit, pähkinät, gluteenia sisältävät viljat, selleri, sinappi ja lupiini.<br/>
<b>#</b> Kelan korkeakouluruokailusuosituksen mukainen
			
		</td>
<td width="10"></td>
</tr>
<tr class="line"><td colspan="3" style="line-height: 0; font-size: 0;" width="600"><img alt="" src="https://www.antell.fi/media/layout/images/mail/line.jpg"/></td></tr>
<tr>
<td width="10"></td>
<td align="left" valign="top" width="580">Opiskelijalounaisiin sisältyy pääruoka, pienisalaatti, leipä, levite, 1 lasi arkiruokajuomaa sekä vesi. <br>
Normaalihintaisiin lounaisiin 6,60€ - 10,10€ sisältyy lisäksi kahvi tai tee.<br>
#= KELAN RAVINTOARVOSUOSITUSTEN MUKAINEN LOUNASRUOKA<br/>
(Kelan ateriatuki 1,94€ / opiskelijalounas)<br/>
<br/>
</br></br></td>
<td width="10"></td>
</tr>
<tr class="line"><td colspan="3" style="line-height: 0; font-size: 0;" width="600"><img alt="" src="https://www.antell.fi/media/layout/images/mail/line.jpg"/></td></tr>
</table>